{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
  </head>
  <body class="d-flex flex-column min-vh-100">

    <header>
      {% include './navbar.html' %}
    </header>


    <div class="container wrapper flex-grow-1">
      <h1 class="my-4"></h1>
      <h1 class="my-4"></h1>
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
    </div>

          <p>User: {{ user }}</p>
<!--Show user status-->

    <footer class="text-center">
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://asgef.github.io">Asgef</a>
      </div>
    </footer>
    {% bootstrap_javascript %}
  </body>
</html>
