{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="my-4"></h1>
    <h1 class="my-4"></h1>
    <div class="card">
      <div class="card-body p-5 bg-light">

        <h1 class="display-4">{{greeting}}</h1>
        <p class="lead">
          {{ description }}
        </p>
        <hr>
        <a href='https://ru.hexlet.io' class="btn btn-primary btn-lg" role="button">
          {{ invitation_button }}
        </a>
      </div>
    </div>
{% endblock %}
