{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% translate 'Task Manager Hexlet' %}{% endblock %}

{% block content %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Registration' %}</h1>

    <form action="{% url 'register' %}" method="post">
        {{ form }}
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_first_name" class="form-label">{% translate 'First Name' %}</label>
            <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="{% translate 'First Name' %}" required>
        </div>

        {% if form.first_name.errors %}
        <div class="invalid-feedback">
            {% for error in form.first_name.errors %}
                {{ error|escape }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="id_last_name" class="form-label">{% translate 'Last Name' %}</label>
            <input type="text" name="last_name" id="id_last_name" class="form-control" placeholder="{% translate 'Last Name' %}" required>
        </div>

        {% if form.last_name.errors %}
        <div class="invalid-feedback">
            {% for error in form.last_name.errors %}
                {{ error|escape }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="id_username" class="form-label">{% translate 'Username' %}</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="{% translate 'Username' %}" required>
            <div class="form-text">{% translate 'Required field. Maximum 150 characters. Letters, numbers, and symbols @/./+/-/_ only.' %}</div>
        </div>

        {% if form.username.errors %}
        <div class="invalid-feedback">
            {% for error in form.username.errors %}
                {{ error|escape }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="id_password1" class="form-label">{% translate 'Password' %}</label>
            <input type="password" name="password1" id="id_password1" class="form-control" placeholder="{% translate 'Password' %}" required>
            <div class="form-text">{% translate 'Your password must contain at least 3 characters.' %}</div>
        </div>

        {% if form.password.errors %}
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
                {{ error|escape }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="id_password2" class="form-label">{% translate 'Confirm Password' %}</label>
            <input type="password" name="password2" id="id_password2" class="form-control" placeholder="{% translate 'Confirm Password' %}" required>
            <div class="form-text">{% translate 'To confirm, please enter your password again.' %}</div>
        </div>

        {% if 'password2' in form.errors %}
        <div class="invalid-feedback">
            {% for error in form.errors.password2 %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <input class="btn btn-primary" type="submit" value="{% translate 'Register' %}">
    </form>

</div>

{% endblock %}
